.blok{
    width: 500px;
    height: 500px;
    margin: 5px auto;
    background-color: aqua
    ;
}
@media screen and( max-width:2000px) {
    .blok{
        background-color: green($color: #000000);
    }
    
}
@media screen and( max-width:1200px) {
    .blok{
        background-color: brown;
    }
    
}
@media screen and( max-width:500px) {
    .blok{
        background-color: yellow;
    }
    
}